In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("Emp21.csv",index_col=0)
df

,First Name,Last Name,Gender,Start Date,Years,Department,Country,Center,Monthly Salary,Annual Salary,Job Rate,Sick Leaves,Unpaid Leaves,Overtime Hours
No,,,,,,,,,,,,,,
1,Ghadir,Hmshw,Male,4/4/2018,7,Quality Control,Egypt,West,1560,18720,3.0,1,0,183
2,Omar,Hishan,Male,5/21/2020,5,Quality Control,Saudi Arabia,West,3247,38964,1.0,0,5,198
3,Ailya,Sharaf,Female,9/28/2017,8,Major Mfg Projects,Saudi Arabia,West,2506,30072,2.0,0,3,192
4,Lwiy,Qbany,Male,8/14/2018,7,Manufacturing,United Arab Emirates,Main,1828,21936,3.0,0,0,7
5,Ahmad,Bikri,Male,3/11/2020,5,Manufacturing,Egypt,Main,970,11640,5.0,0,5,121
6,Muhamad,Zueitr,Male,2/2/2016,9,Product Development,Saudi Arabia,North,2332,27984,3.0,3,0,8
7,Iin,Alhalaliu,Female,5/8/2020,5,Sales,United Arab Emirates,Main,1959,23508,3.0,6,0,116
8,Muhamad,Alaya,Male,2/10/2018,7,Account Management,Egypt,Main,3394,40728,5.0,0,0,7
9,Susin,Almilat,Female,3/11/2018,7,Green Building,Egypt,North,1479,17748,4.5,0,0,105
10,Muhamad,Alrifaei,Male,1/3/2020,6,Account Management,Egypt,Main,1186,14232,4.5,1,0,153
11,Muhamad,Alqadah,Male,1/16/2018,7,Manufacturing,Syria,Main,1485,17820,2.0,5,0,12
12,Muhamad,Iad,Male,7/19/2018,7,IT,Egypt,Main,2016,24192,1.0,2,0,70
13,Razaan,Nasif,Female,11/11/2018,7,Facilities/Engineering,Egypt,Main,1999,23988,5.0,6,0,85
14,Iilian,Dbs,Female,3/1/2016,9,Facilities/Engineering,United Arab Emirates,North,3404,40848,5.0,1,0,8
15,Bayan,Qdw,Female,12/4/2018,7,Marketing,Egypt,Main,889,10668,3.0,1,1,8
16,Alaa,Muhamad,Male,10/7/2019,6,Sales,Egypt,South,930,11160,3.0,0,0,77
17,Sandra,Aljurmqaniu,Female,5/27/2016,9,Account Management,Saudi Arabia,West,3149,37788,4.5,0,0,93
18,Farahad,Husayn,Male,5/12/2018,7,Quality Control,United Arab Emirates,West,1295,15540,3.0,4,0,153
19,Ahed,Salim,Female,4/24/2018,7,Quality Control,United Arab Emirates,South,2162,25944,3.0,0,0,8
20,Ayham,Tutwnji,Male,10/2/2019,6,Product Development,United Arab Emirates,West,2180,26160,2.0,6,0,10
21,Samir,Alsafdi,Male,12/3/2020,5,Account Management,Egypt,Main,1475,17700,5.0,0,0,98

In [5]:
df[df["Years"]>5]

,First Name,Last Name,Gender,Start Date,Years,Department,Country,Center,Monthly Salary,Annual Salary,Job Rate,Sick Leaves,Unpaid Leaves,Overtime Hours
No,,,,,,,,,,,,,,
1,Ghadir,Hmshw,Male,4/4/2018,7,Quality Control,Egypt,West,1560,18720,3.0,1,0,183
3,Ailya,Sharaf,Female,9/28/2017,8,Major Mfg Projects,Saudi Arabia,West,2506,30072,2.0,0,3,192
4,Lwiy,Qbany,Male,8/14/2018,7,Manufacturing,United Arab Emirates,Main,1828,21936,3.0,0,0,7
6,Muhamad,Zueitr,Male,2/2/2016,9,Product Development,Saudi Arabia,North,2332,27984,3.0,3,0,8
8,Muhamad,Alaya,Male,2/10/2018,7,Account Management,Egypt,Main,3394,40728,5.0,0,0,7
9,Susin,Almilat,Female,3/11/2018,7,Green Building,Egypt,North,1479,17748,4.5,0,0,105
10,Muhamad,Alrifaei,Male,1/3/2020,6,Account Management,Egypt,Main,1186,14232,4.5,1,0,153
11,Muhamad,Alqadah,Male,1/16/2018,7,Manufacturing,Syria,Main,1485,17820,2.0,5,0,12
12,Muhamad,Iad,Male,7/19/2018,7,IT,Egypt,Main,2016,24192,1.0,2,0,70
13,Razaan,Nasif,Female,11/11/2018,7,Facilities/Engineering,Egypt,Main,1999,23988,5.0,6,0,85
14,Iilian,Dbs,Female,3/1/2016,9,Facilities/Engineering,United Arab Emirates,North,3404,40848,5.0,1,0,8
15,Bayan,Qdw,Female,12/4/2018,7,Marketing,Egypt,Main,889,10668,3.0,1,1,8
16,Alaa,Muhamad,Male,10/7/2019,6,Sales,Egypt,South,930,11160,3.0,0,0,77
17,Sandra,Aljurmqaniu,Female,5/27/2016,9,Account Management,Saudi Arabia,West,3149,37788,4.5,0,0,93
18,Farahad,Husayn,Male,5/12/2018,7,Quality Control,United Arab Emirates,West,1295,15540,3.0,4,0,153
19,Ahed,Salim,Female,4/24/2018,7,Quality Control,United Arab Emirates,South,2162,25944,3.0,0,0,8
20,Ayham,Tutwnji,Male,10/2/2019,6,Product Development,United Arab Emirates,West,2180,26160,2.0,6,0,10

In [6]:
df[df['Gender']=='Female']

,First Name,Last Name,Gender,Start Date,Years,Department,Country,Center,Monthly Salary,Annual Salary,Job Rate,Sick Leaves,Unpaid Leaves,Overtime Hours
No,,,,,,,,,,,,,,
3,Ailya,Sharaf,Female,9/28/2017,8,Major Mfg Projects,Saudi Arabia,West,2506,30072,2.0,0,3,192
7,Iin,Alhalaliu,Female,5/8/2020,5,Sales,United Arab Emirates,Main,1959,23508,3.0,6,0,116
9,Susin,Almilat,Female,3/11/2018,7,Green Building,Egypt,North,1479,17748,4.5,0,0,105
13,Razaan,Nasif,Female,11/11/2018,7,Facilities/Engineering,Egypt,Main,1999,23988,5.0,6,0,85
14,Iilian,Dbs,Female,3/1/2016,9,Facilities/Engineering,United Arab Emirates,North,3404,40848,5.0,1,0,8
15,Bayan,Qdw,Female,12/4/2018,7,Marketing,Egypt,Main,889,10668,3.0,1,1,8
17,Sandra,Aljurmqaniu,Female,5/27/2016,9,Account Management,Saudi Arabia,West,3149,37788,4.5,0,0,93
19,Ahed,Salim,Female,4/24/2018,7,Quality Control,United Arab Emirates,South,2162,25944,3.0,0,0,8

In [7]:
df.groupby("Department")["Annual Salary"].sum()

Department
Account Management        110448
Facilities/Engineering     64836
Green Building             17748
IT                         24192
Major Mfg Projects         30072
Manufacturing              51396
Marketing                  10668
Product Development        54144
Quality Control            99168
Sales                      34668
Name: Annual Salary, dtype: int64

In [8]:
df.drop(columns=["Center"])

,First Name,Last Name,Gender,Start Date,Years,Department,Country,Monthly Salary,Annual Salary,Job Rate,Sick Leaves,Unpaid Leaves,Overtime Hours
No,,,,,,,,,,,,,
1,Ghadir,Hmshw,Male,4/4/2018,7,Quality Control,Egypt,1560,18720,3.0,1,0,183
2,Omar,Hishan,Male,5/21/2020,5,Quality Control,Saudi Arabia,3247,38964,1.0,0,5,198
3,Ailya,Sharaf,Female,9/28/2017,8,Major Mfg Projects,Saudi Arabia,2506,30072,2.0,0,3,192
4,Lwiy,Qbany,Male,8/14/2018,7,Manufacturing,United Arab Emirates,1828,21936,3.0,0,0,7
5,Ahmad,Bikri,Male,3/11/2020,5,Manufacturing,Egypt,970,11640,5.0,0,5,121
6,Muhamad,Zueitr,Male,2/2/2016,9,Product Development,Saudi Arabia,2332,27984,3.0,3,0,8
7,Iin,Alhalaliu,Female,5/8/2020,5,Sales,United Arab Emirates,1959,23508,3.0,6,0,116
8,Muhamad,Alaya,Male,2/10/2018,7,Account Management,Egypt,3394,40728,5.0,0,0,7
9,Susin,Almilat,Female,3/11/2018,7,Green Building,Egypt,1479,17748,4.5,0,0,105
10,Muhamad,Alrifaei,Male,1/3/2020,6,Account Management,Egypt,1186,14232,4.5,1,0,153
11,Muhamad,Alqadah,Male,1/16/2018,7,Manufacturing,Syria,1485,17820,2.0,5,0,12
12,Muhamad,Iad,Male,7/19/2018,7,IT,Egypt,2016,24192,1.0,2,0,70
13,Razaan,Nasif,Female,11/11/2018,7,Facilities/Engineering,Egypt,1999,23988,5.0,6,0,85
14,Iilian,Dbs,Female,3/1/2016,9,Facilities/Engineering,United Arab Emirates,3404,40848,5.0,1,0,8
15,Bayan,Qdw,Female,12/4/2018,7,Marketing,Egypt,889,10668,3.0,1,1,8
16,Alaa,Muhamad,Male,10/7/2019,6,Sales,Egypt,930,11160,3.0,0,0,77
17,Sandra,Aljurmqaniu,Female,5/27/2016,9,Account Management,Saudi Arabia,3149,37788,4.5,0,0,93
18,Farahad,Husayn,Male,5/12/2018,7,Quality Control,United Arab Emirates,1295,15540,3.0,4,0,153
19,Ahed,Salim,Female,4/24/2018,7,Quality Control,United Arab Emirates,2162,25944,3.0,0,0,8
20,Ayham,Tutwnji,Male,10/2/2019,6,Product Development,United Arab Emirates,2180,26160,2.0,6,0,10
21,Samir,Alsafdi,Male,12/3/2020,5,Account Management,Egypt,1475,17700,5.0,0,0,98

In [9]:
df.groupby("Department")["Unpaid Leaves"].sum()

Department
Account Management        0
Facilities/Engineering    0
Green Building            0
IT                        0
Major Mfg Projects        3
Manufacturing             5
Marketing                 1
Product Development       0
Quality Control           5
Sales                     0
Name: Unpaid Leaves, dtype: int64