## Numpy 

NumPy is a general-purpose array-processing package. It provides a high-performance multidimensional array object, and tools for working with these arrays. It is the fundamental package for scientific computing with Python

### What is an array

An array is a data structure that stores values of same data type. In Python, this is the main difference between arrays and lists. While python lists can contain values corresponding to different data types, arrays in python can only contain values corresponding to same data type

In [1]:
## initially Lets import numpy

import numpy as np

In [2]:
my_lst=[1,2,3,4,5]

arr=np.array(my_lst)

In [3]:
print(arr)

[1 2 3 4 5]

In [4]:
type(arr)

numpy.ndarray

In [5]:
## Multinested array
my_lst1=[1,2,3,4,5]
my_lst2=[2,3,4,5,6]
my_lst3=[9,7,6,8,9]
my_lst4=[10,11,12,13,14]

arr=np.array([my_lst1,my_lst2,my_lst3,my_lst4])

In [6]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 2,  3,  4,  5,  6],
       [ 9,  7,  6,  8,  9],
       [10, 11, 12, 13, 14]])

In [7]:
type(arr)

numpy.ndarray

In [8]:
## check the shape of the array

arr.shape

(4, 5)

### Indexing

In [9]:
## Accessing the array elements

arr

array([[ 1,  2,  3,  4,  5],
       [ 2,  3,  4,  5,  6],
       [ 9,  7,  6,  8,  9],
       [10, 11, 12, 13, 14]])

In [19]:
arr[2]

array([9, 7, 6, 8, 9])

In [6]:
arr

array([1, 2, 3, 4, 5])

In [10]:
arr[2,2]

6

In [23]:
arr[:2,:3] #start value , end value

array([[1, 2, 3],
       [2, 3, 4]])

In [43]:
arr[2:,2:]

array([[ 6,  8,  9],
       [12, 13, 14]])

In [44]:
arr[:,:]

array([[ 1,  2,  3,  4,  5],
       [ 2,  3,  4,  5,  6],
       [ 9,  7,  6,  8,  9],
       [10, 11, 12, 13, 14]])

In [45]:
arr[1:2,2:3]

array([[4]])

In [46]:
arr[1:3,2:4]

array([[4, 5],
       [6, 8]])

In [13]:
arr

array([[ 1,  2,  3,  4,  5],
       [ 2,  3,  4,  5,  6],
       [ 9,  7,  6,  8,  9],
       [10, 11, 12, 13, 14]])

In [11]:
arr[1,2]=100

In [12]:
arr

array([[  1,   2,   3,   4,   5],
       [  2,   3, 100,   5,   6],
       [  9,   7,   6,   8,   9],
       [ 10,  11,  12,  13,  14]])

In [13]:
arr[2,1]=50
arr

array([[  1,   2,   3,   4,   5],
       [  2,   3, 100,   5,   6],
       [  9,  50,   6,   8,   9],
       [ 10,  11,  12,  13,  14]])

In [14]:
### Some conditions very useful in Exploratory Data Analysis 

arr = np.array([5,12,7,20,9])
arr

array([ 5, 12,  7, 20,  9])

In [15]:
arr[arr<15]

array([ 5, 12,  7,  9])

In [17]:
arr = np.array([1,2,3,4,5,6,7,8,9])

arr[arr%2==1]

array([1, 3, 5, 7, 9])

In [18]:
## Create arrays and reshape

a = np.arange(0,20).reshape(4,5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

In [19]:
a.shape

(4, 5)

In [20]:
b = np.arange(1,26).reshape(5,5)
b

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20],
       [21, 22, 23, 24, 25]])

In [31]:
arr1=np.arange(0,10).reshape(2,5)
print(arr1)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [39]:
arr2=np.arange(0,10).reshape(2,5)
arr2

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [40]:
arr1*arr2

array([[ 0,  1,  4,  9, 16],
       [25, 36, 49, 64, 81]])

In [34]:
arr1+arr2

array([[ 0,  2,  4,  6,  8],
       [10, 12, 14, 16, 18]])

In [23]:
np.ones((4,6),dtype=int)

array([[1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1]])

In [26]:
## random distribution
np.random.rand(4,4)

array([[0.35282621, 0.75938719, 0.19279929, 0.04206892],
       [0.23216991, 0.99718578, 0.57362281, 0.0934864 ],
       [0.93045168, 0.76660383, 0.83192474, 0.67231992],
       [0.81734428, 0.31840812, 0.42084408, 0.80079911]])

In [27]:
arr_ex=np.random.randn(4,4)

In [29]:
arr_ex

array([[-0.88332211, -1.08480522,  0.5522489 ,  0.76037678],
       [ 0.29047227,  0.64758253, -0.15269714, -0.36642696],
       [-0.4846144 , -1.45127378,  0.41153155, -0.26694583],
       [ 0.90144838, -2.20920795,  0.63243855,  0.36068932]])

In [31]:
np.random.randint(0,30,15).reshape(3,5)

array([[ 9,  9, 24, 23, 21],
       [ 4,  1,  2, 28,  9],
       [ 4, 24, 25,  8,  4]])

In [34]:
np.random.uniform(0,10,6).reshape(2,3)

array([[3.76643299, 5.62380931, 2.0879528 ],
       [5.7479652 , 9.55987895, 1.8795108 ]])

In [35]:
np.random.random_sample((2,4))

array([[0.73697225, 0.8691443 , 0.31332087, 0.31191514],
       [0.26977294, 0.10202788, 0.89384279, 0.84392526]])

In [36]:
import numpy as np
import pandas as pd

In [37]:
df = pd.read_csv('wine.csv')  #comma separated values
df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [38]:
df.shape

(178, 15)

In [39]:
arr=df.loc[177]
arr

Unnamed: 0    177.00
0               3.00
1              14.13
2               4.10
3               2.74
4              24.50
5              96.00
6               2.05
7               0.76
8               0.56
9               1.35
10              9.20
11              0.61
12              1.60
13            560.00
Name: 177, dtype: float64

In [40]:
arr=df.iloc[:11,:4]
arr

    Unnamed: 0  0      1     2
0            0  1  14.23  1.71
1            1  1  13.20  1.78
2            2  1  13.16  2.36
3            3  1  14.37  1.95
4            4  1  13.24  2.59
5            5  1  14.20  1.76
6            6  1  14.39  1.87
7            7  1  14.06  2.15
8            8  1  14.83  1.64
9            9  1  13.86  1.35
10          10  1  14.10  2.16

In [41]:
arr.shape

(11, 4)

In [94]:
arr1=df.iloc[0:11,0:4]
arr1

    Unnamed: 0  0      1     2
0            0  1  14.23  1.71
1            1  1  13.20  1.78
2            2  1  13.16  2.36
3            3  1  14.37  1.95
4            4  1  13.24  2.59
5            5  1  14.20  1.76
6            6  1  14.39  1.87
7            7  1  14.06  2.15
8            8  1  14.83  1.64
9            9  1  13.86  1.35
10          10  1  14.10  2.16

In [95]:
arr1.shape

(11, 4)

In [96]:
arr+arr1

    Unnamed: 0  0      1     2
0            0  2  28.46  3.42
1            2  2  26.40  3.56
2            4  2  26.32  4.72
3            6  2  28.74  3.90
4            8  2  26.48  5.18
5           10  2  28.40  3.52
6           12  2  28.78  3.74
7           14  2  28.12  4.30
8           16  2  29.66  3.28
9           18  2  27.72  2.70
10          20  2  28.20  4.32

In [60]:
arr1 = df.iloc[11:22,6:7]
arr1

      5
11   95
12   89
13   91
14  102
15  112
16  120
17  115
18  108
19  116
20  126
21  102

In [61]:
arr1.shape

(11, 1)

In [63]:
arr+arr1

     0   1   2   5  Unnamed: 0
0  NaN NaN NaN NaN         NaN
1  NaN NaN NaN NaN         NaN
2  NaN NaN NaN NaN         NaN
3  NaN NaN NaN NaN         NaN
4  NaN NaN NaN NaN         NaN
5  NaN NaN NaN NaN         NaN
6  NaN NaN NaN NaN         NaN
7  NaN NaN NaN NaN         NaN
8  NaN NaN NaN NaN         NaN
9  NaN NaN NaN NaN         NaN
10 NaN NaN NaN NaN         NaN
11 NaN NaN NaN NaN         NaN
12 NaN NaN NaN NaN         NaN
13 NaN NaN NaN NaN         NaN
14 NaN NaN NaN NaN         NaN
15 NaN NaN NaN NaN         NaN
16 NaN NaN NaN NaN         NaN
17 NaN NaN NaN NaN         NaN
18 NaN NaN NaN NaN         NaN
19 NaN NaN NaN NaN         NaN
20 NaN NaN NaN NaN         NaN
21 NaN NaN NaN NaN         NaN